#document-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    user-select: none;
    -webkit-user-select: none;
    counter-reset: question-ordinal;
}

#document-area .btn {
    align-self: center;
}

#document-area:invalid + .input-group #btn-document-submit {
    cursor: not-allowed;
}

#document-area + .input-group {
    width: fit-content;
    margin: 1rem auto 0;
}

.question-element {
    background: rgb(var(--color-bg-alt));
    border: 2px solid rgba(var(--color-accent), .75);
    padding: 1rem .5rem;
    transition: .2s;
    border-radius: var(--border-radius);
}
.question-element:hover {
    background: rgb(var(--color-bg));
}

.question-element .header {
    display: flex;
    background: rgba(var(--color-accent), .75);

    margin: -1rem -.5rem 1rem -.5rem;
}
.question-element .header-buttons .btn {
    background: transparent;
}

.question-element .title {
    color: #FFF;
    flex: 1;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
    padding: 3px 5px;

}
.question-element .title::before {
    counter-increment: question-ordinal;
    content: counter(question-ordinal) ". ";
}

.radio-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .5rem;
    position: relative;
    cursor: pointer;
    margin: 1px;
}
.radio-btn:hover input:enabled ~ span {
    box-shadow: 0 0 5px 1px rgb(var(--color-accent));
}
.radio-btn input {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 0;
    transition: outline-color .15s ease;
}
.radio-btn input ~ span {
    outline: 1px solid rgb(var(--color-mid));
}
.radio-btn input:focus ~ span {
    outline-color: rgb(var(--color-accent));
}
.radio-btn input:checked ~ span {
    background: rgb(var(--color-accent));
    box-shadow: 0 0 5px 1px rgb(var(--color-accent));
    border-color: rgb(var(--color-accent));
}
.radio-btn span.checkbox, span.radio {
    order: -1;
    height: 12px;
    width: 12px;
    transition: all .15s ease;
}
.radio-btn span.radio {
    border-radius: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    border-radius: var(--border-radius);
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(var(--color-bg));
    border: 1px solid rgb(var(--color-accent));
    border-radius: var(--border-radius);
}

.dropdown-content .btn {
    --border-radius: 0;
    display: inline;
    width: 100%;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.expand {
    scale: 1.5;
}

.dropdown .bi {
    pointer-events: none;
}
